# Dependencias
/node_modules

# Carpeta de compilación (build)
/dist
/build

# Archivos de caché y logs
.vite/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.local
.env.*.local